.container {
  width: 90%;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 67px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 60px;
}

.logo {
  color: var(--Color-Button-Stroke, #5d1609);
  font-family: "Libre Baskerville";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.nav {
  width: 40%;
  height: 100%;
}

.nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav ul li {
  color: var(--Color-Text, #211c1c);
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  list-style: none;
}

.basket {
  width: 22px;
  height: 22px;
}

.text {
  color: var(--Color-Text, #211c1c);
  text-align: center;
  font-family: Baskervville;
  font-size: 132px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -7.92px;
}
.make {
  width: 100%;
  height: 521px;
  display: flex;
  justify-content: center;
}
.make__container {
  background-image: url("../../assets/image1.png");
  /* background: cover no-repeat; */
  background-size: contain;
  background-repeat: no-repeat;
  width: 780px;
  height: 521px;
  flex-shrink: 0;
}
.mobile-nav {
  display: none;
}
.expect {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expect h1 {
  width: 580px;
  color: var(--Color-Text, #211c1c);
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
}
.flexCake {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box {
  width: calc(25% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 67px;
}

.box_image {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
.box_image img {
  width: 80%;
  height: auto;
}
.cake_name {
  width: 100%;
  color: var(--Color-Text, #211c1c);
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.4px;
  margin-bottom: 12px;
}
.cake_text {
  width: 80%;
  color: var(--Color-Caption-Text, #767676);
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.28px;
  margin-bottom: 15.5px;
}
.price {
  width: 60%;
  display: flex;
  gap: 28px;
  justify-content: center;
}
.price:first-child {
  color: var(--Color-Text, #211c1c);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.36px;
}
.price:first-child::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black; /* Çizgi rengi */
}
@media only screen and (max-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
  .nav {
    display: none;
    list-style: none;
  }
  .mobileNav {
    display: block;
  }
}
